@model GospoRol.Application.ViewModels.WarehouseViews.NewWarehouseVm
@{
    ViewData["Title"] = "Dodaj Magazyn";
}

<h1>Dodaj Magazyn</h1>

<h4>NewWarehouseVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddWarehouse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acreage" class="control-label"></label>
                <input asp-for="Acreage" class="form-control" />
                <span asp-validation-for="Acreage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

