@model GospoRol.Application.ViewModels.NewLandVm

@{
    ViewData["Title"] = "AddLand";
}

<h1>AddLand</h1>

<h4>NewLandVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotNumber" class="control-label"></label>
                <input asp-for="PlotNumber" class="form-control" />
                <span asp-validation-for="PlotNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acreage" class="control-label"></label>
                <input asp-for="Acreage" class="form-control" />
                <span asp-validation-for="Acreage" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="">
                <label asp-for="AcreageFree" class="control-label"></label>
                <input asp-for="AcreageFree" class="form-control" />
                <span asp-validation-for="AcreageFree" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="">
                <label asp-for="AcreageOccupied" class="control-label"></label>
                <input asp-for="AcreageOccupied" class="form-control" />
                <span asp-validation-for="AcreageOccupied" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj Grunt Rolny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
