@model GospoRol.Application.ViewModels.PlaceViewModels.LandViewModels.NewLandVm
 
@{
    ViewData["Title"] = "Edycja";
}

<h1>Edytuj Grunt Rolny</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PlotNumber" class="control-label"></label>
                <input asp-for="PlotNumber" class="form-control" />
                <span asp-validation-for="PlotNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acreage" class="control-label"></label>
                <input asp-for="Acreage" class="form-control" />
                <span asp-validation-for="Acreage" class="text-danger"></span>
            </div>
            <input type="hidden" name="oldAcreage" value="@Model.Acreage" />
            <input type="hidden" name="oldAcreageFree" value="@Model.AcreageFree" />
            <div class="form-group">
                <input type="hidden" asp-for="AcreageFree" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AcreageOccupied" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
