@using Microsoft.AspNetCore.Identity
@using GospoRol.Domain.Models
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{


    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Land" asp-action="Index">Grunty Rolne</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Field" asp-action="Index">Pola</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Warehouse" asp-action="Index">Magazyny</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Produkty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Treatment" asp-action="Index">Zabiegi</a>
    </li>

}